[Unit]
Description=Evon Self-hosted Shim
Requires=network-online.target
After=syslog.target
Before=evonhub.target

[Service]
SyslogIdentifier=evon-selfhosted-shim
User=root
WorkingDirectory=/opt/evon-hub/evon/selfhosted_shim
ExecStartPre=/usr/sbin/ip addr add 169.254.169.254/32 dev lo || :
ExecStart=/opt/evon-hub/.env/bin/uvicorn \
    evon.selfhosted_shim.server:app \
    --host 169.254.169.254 \
    --port 80
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID \
    && /usr/sbin/ip addr del 169.254.169.254/32 dev lo || :
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
