[Unit]
Description=Evon Self-hosted Shim
Requires=network-online.target
After=syslog.target
Before=evonhub.target

[Service]
SyslogIdentifier=evon-selfhosted-shim
User=root
WorkingDirectory=/opt/evon-hub/evon/selfhosted_shim
ExecStart=/opt/evon-hub/evon/selfhosted_shim/evonshim.sh start
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/opt/evon-hub/evon/selfhosted_shim/evonshim.sh stop $MAINPID
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
