<div id="content-main" class="col-12">
  <div class="card card-primary card-outline">
    <div class="card-body">
      <div id="content-main" class="col-12">
        This page describes how to setup OpenVPN on your system for connecting to the overlay network.
      </div>
    </div>
    <div class="card-header">
      Download Configuration File
    </div>
    <div class="card-body">
      <div id="content-main" class="col-12">
        First, download the OpenVPN client configuration file here: <strong><a href="/api/ovpnclient/download">EvonHub.ovpn</a></strong><br />
        <br />
        This file contains OpenVPN configuration for connecting to your Evon Hub. Simply import it into your OpenVPN client of choice. See below for details about how to set it up on your system.<br />
        <br />
        <strong>EvonHub.ovpn</strong> can also be downloaded via the API, see below.
      </div>
    </div>

    <div class="card-header">
      Setup OpenVPN
    </div>
    <div class="card-body">
      <div id="content-main" class="col-12">
        <ul class="nav nav-tabs" role="tablist" id="jazzy-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="linux-tab" aria-selected="true" href="#linux-tab">
              On Linux
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="windows-tab" aria-selected="false" href="#windows-tab">
              On Windows
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="mac-tab" aria-selected="false" href="#mac-tab">
              On Mac
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="cli-tab" aria-selected="false" href="#cli-tab">
              Using OpenVPN CLI (Any OS)
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="linux-tab" class="tab-pane fade active show" role="tabpanel" aria-labelledby="linux-tab">
            <div class="card ">
              <div class="p-5">
                <strong>Using NetworkManager:</strong><br />
                <br />
                Download <strong>EvonHub.ovpn</strong> using curl and your API key:
                <pre>curl -s 'https://{{ account_domain }}/api/ovpnclient/download' -H 'Authorization: Token {{ auth_token }}' > EvonHub.ovpn</pre>
                <br />
                Import the <strong>EvonHub.ovpn</strong> file into NetworkManager by entering the following commands, replacing <strong>your_evon_hub_username</strong> with your Evon Hub username below:
                <pre>
        nmcli connection import type openvpn file EvonHub.ovpn
        nmcli connection modify EvonHub ipv4.never-default true
        nmcli connection modify EvonHub +vpn.data username=your_evon_hub_username</pre>
                To connect, click your NetworkManager icon, select VPN Connections -> EvonHub. You will be prompted for your password upon connection.
                <br />
              </div>
            </div>
          </div>
          <div id="windows-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="windows-tab">
            <div class="card ">
              <div class="p-5">
                Download and install OpenVPN for Windows <a href="https://openvpn.net/community-downloads/" target="_blank">here</a>. Once installed, right-click the <strong>EvonHub.ovpn</strong> file and select "Import into OpenVPN-GUI".<br />
                <br />
                To connect, right-click the OpenVPN-GUI icon in the system tray and click Connect. You'll be prompted for your Evon Hub username/password.
                <br />
              </div>
            </div>
          </div>
          <div id="mac-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="mac-tab">
            <div class="card ">
              <div class="p-5">
                Download and install Tunnelblick <a href="https://tunnelblick.net/downloads.html" target="_blank">here</a>. Once installed, open the <strong>EvonHub.ovpn</strong> file and import it into Tunnelblick.<br />
                <br />
                To connect, click the Tunnelblick icon in the Status Menu and click "Connect EvonHub". You'll be prompted for your Evon Hub username/password.
                <br />
              </div>
            </div>
          </div>
          <div id="cli-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="cli-tab">
            <div class="card ">
              <div class="p-5">
                If you already have OpenVPN installed on your system, you can invoke it from the CLI directly.<br />
                <br />
                Enter the following command as a user with appropriate privileges:
                <pre>openvpn EvonHub.ovpn</pre>
                You'll be promoted for your Evon Hub username/password. To connect non-interactively, update your <strong>EvonHub.ovpn</strong> file, referring to the <strong>--auth-user-pass</strong> setting in the <a href="https://openvpn.net/community-resources/reference-manual-for-openvpn-2-4/" target="_blank">OpenVPN 2.4 Reference Manual</a>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header">
      Listing Servers on the Hub
    </div>
    <div class="card-body">
      <div id="content-main" class="col-12">
        You can obtain a list of servers to which you're permitted to connect (subject to policy defined by an admin) either via the <a href="/hub/server">Servers</a> menu option in this Web UI or via the <a href="/api/#tag/server" target="_blank">Evon Hub API</a>.<br/>
        {% if user.is_superuser  %}
        <br/>
        When listing servers via the API, superusers (like yourself) will obtain a list of <strong>all</strong> servers, whereas non-superusers will only see a list of servers that they're permitted to access via a policy. As such, for superuser API clients, listed servers include an `accessible` boolean property on each server object that indicates whether or not they can connect to it based on policy. See the <a href="/api/#tag/server" target="_blank">API Documentation</a> for further detail.<br/>
        {% endif %}
        <br/>
        Example scripts are provided below for listing your servers via the API. These examples include your <a href="/authtoken/tokenproxy/">Authentication Token</a> in clear text, therefore care should be taken to keep these scripts private if used as is.<br />
        <br />
        <ul class="nav nav-tabs" role="tablist" id="jazzy-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="bash-tab" aria-selected="true" href="#bash-tab">
              Bash
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="powershell-tab" aria-selected="false" href="#powershell-tab">
              PowerShell
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="python-tab" aria-selected="false" href="#python-tab">
              Python
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="bash-tab" class="tab-pane fade active show" role="tabpanel" aria-labelledby="bash-tab">
            <div class="card ">
              <div class="p-5">
                <hr>
                <h5>list_servers.sh</h5>
                Note that the <strong>curl</strong>, <strong>jq</strong> and <strong>sed</strong> commands are required by the below script.
                <pre>
#!/bin/bash

url="https://{{ account_domain }}/api/server"
auth_token="{{ auth_token }}"

echo -e "IPv4           \t State\t FQDN"
while [ "${url}" != "null" ]; do
    response=$(curl -s "${url}" -H "Authorization: Token ${auth_token}")
    echo ${response} | \
        jq -rM '.results[] | .ipv4_address + " " + (.connected|tostring) + " " + .fqdn' | \
            sed 's/ /\t /g' | sed 's/true/up/g' | sed 's/false/down/g'
    url=$(echo $response | jq -r '.next')
done</pre>
                <hr>
                <h5>Example Usage:</h5>
                <pre>
$ chmod +x list_servesrs.sh
$ ./list_servers.sh
IPv4             State   FQDN
100.111.224.6    up      webserver.example.com.{{ account_domain }}
100.111.224.10   up      appserver.{{ account_domain }}
100.111.224.14   down    test.example.com.{{ account_domain }}
100.111.224.18   up      fileserver.{{ account_domain }}
$</pre>
              </div>
            </div>
          </div>
          <div id="powershell-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="powershell-tab">
            <div class="card ">
              <div class="p-5">
                <hr>
                <h5>list_servers.ps1</h5>
                <pre>
#!/usr/bin/pwsh

$url = "https://{{ account_domain }}/api/server"
$auth_token = "{{ auth_token }}"

write-host "IPv4           `t State`t FQDN"
while ( $url -ne $null ) {
    $response = Invoke-RestMethod -Uri $url -Headers @{"Authorization" = "Token $auth_token"}
    foreach ( $server in $response.results ) {
        $state = if ($server.connected) {"up"} else {"down"}
        write-host $server.ipv4_address `t $state `t $server.fqdn
    }
    $url = $response.next
}</pre>
                <hr>
                <h5>Example Usage:</h5>
                <pre>
PS C:\scripts> .\list_servers.ps1
IPv4             State   FQDN
100.111.224.6    up      webserver.example.com.{{ account_domain }}
100.111.224.10   up      appserver.{{ account_domain }}
100.111.224.14   down    test.example.com.{{ account_domain }}
100.111.224.18   up      fileserver.{{ account_domain }}
PS C:\scripts></pre>
              </div>
            </div>
          </div>
          <div id="python-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="python-tab">
            <div class="card ">
              <div class="p-5">
                <hr>
                <h5>list_servers.py</h5>
                  Note that the <strong>requests</strong> library is required by the below script. 
                <pre>
#!/usr/bin/env python

import requests

url="https://{{ account_domain }}/api/server"
auth_token="{{ auth_token }}"

print("IPv4           \t State\t FQDN")
while url:
    data = requests.get(url, headers={"Authorization": f"Token {auth_token}"}).json()
    for server in data['results']:
        state = "up" if server["connected"] else "down"
        print(f"{server['ipv4_address']} \t {state} \t {server['fqdn']}")
    url = data["next"]</pre>
                <hr>
                <h5>Example Usage:</h5>
                <pre>
$ pip install --user requests
$ python list_servers.py
IPv4             State   FQDN
100.111.224.6    up      webserver.example.com.{{ account_domain }}
100.111.224.10   up      appserver.{{ account_domain }}
100.111.224.14   down    test.example.com.{{ account_domain }}
100.111.224.18   up      fileserver.{{ account_domain }}
$</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
