<div id="content-main" class="col-12">
  <div class="card card-primary card-outline">
    <div class="card-body">
      <div id="content-main" class="col-12">
        This page describes how you and others can connect to your Evon Hub from any device to access systems on your overlay network and share connectivity to your own device.<br />
        <br />
        <ul>
          <li>Clients obtain a static IPv4 address only, and can be specified as sources in Rules but not as destinations in Policies.</li>
          <li>To allow other systems to connect to your device on the overlay network, enable the <strong>Device Settings 🠊 Shared</strong> option in your <a href="/auth/user/{{ user.id }}/change/#device-settings-tab">user profile</a>.</li>
        </ul>
      </div>
    </div>
    <div class="card-header">
      <h5 class="p-3 mb-2 bg-primary text-white">Download Configuration File</h5>
    </div>
    <div class="card-body">
      <div id="content-main" class="col-12">
        First, download the OpenVPN client configuration file here: <strong><a href="/api/ovpnclient/download">EvonHub.ovpn</a></strong>.<br />
        <br />
        This file contains standard OpenVPN configuration. Simply import it into your OpenVPN client of choice.<br />
        <br />
        <ul>
          <li>As a user, you'll connect to this Hub using the standard OpenVPN protocol and port of UDP/1194</li>
        </ul>
      </div>
    </div>

    <div class="card-header">
      <h5 class="p-3 mb-2 bg-primary text-white">Setup OpenVPN</h5>
    </div>
    <div class="card-body">
      <div id="content-main" class="col-12">
        <ul class="nav nav-tabs" role="tablist" id="jazzy-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="linux-tab" aria-selected="true" href="#linux-tab">
              On Linux
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="windows-tab" aria-selected="false" href="#windows-tab">
              On Windows
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="mac-tab" aria-selected="false" href="#mac-tab">
              On Mac
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="mobile-tab" aria-selected="false" href="#mobile-tab">
              On Mobile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="cli-tab" aria-selected="false" href="#cli-tab">
              Using OpenVPN CLI (Any OS)
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="linux-tab" class="tab-pane fade active show" role="tabpanel" aria-labelledby="linux-tab">
            <div class="card ">
              <div class="p-5">
                <strong>Using NetworkManager:</strong><br />
                <br />
                Import the <strong><a href="/api/ovpnclient/download">EvonHub.ovpn</a></strong> file into NetworkManager by entering the following commands, replacing <strong>your_evon_hub_username</strong> with your Evon Hub username below:
                <pre class="border border-secondary mt-3">
        nmcli connection import type openvpn file EvonHub.ovpn
        nmcli connection modify EvonHub ipv4.never-default true
        nmcli connection modify EvonHub +vpn.data username=your_evon_hub_username</pre>
                To connect, click your NetworkManager icon, select VPN Connections 🠊 EvonHub. You will be prompted for your password upon connection.
                <br />
              </div>
            </div>
          </div>
          <div id="windows-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="windows-tab">
            <div class="card ">
              <div class="p-5">
                Download and install <a href="https://openvpn.net/community-downloads/" target="_blank">OpenVPN for Windows</a>. Once installed, right-click the <strong><a href="/api/ovpnclient/download">EvonHub.ovpn</a></strong> file and select <strong>Import into OpenVPN-GUI</strong>.<br />
                <br />
                To connect, right-click the <strong>OpenVPN-GUI icon</strong> in the system tray and click <strong>Connect</strong>. You'll be prompted for your Evon Hub username/password.
                <br />
              </div>
            </div>
          </div>
          <div id="mac-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="mac-tab">
            <div class="card ">
              <div class="p-5">
                Download and install <a href="https://tunnelblick.net/downloads.html" target="_blank">Tunnelblick</a>. Once installed, open the <strong><a href="/api/ovpnclient/download">EvonHub.ovpn</a></strong> file and import it into Tunnelblick.<br />
                <br />
                To connect, click the <strong>Tunnelblick icon</strong> in the Status Menu and click <strong>Connect EvonHub</strong>. You'll be prompted for your Evon Hub username/password.
                <br />
              </div>
            </div>
          </div>

          <div id="mobile-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="mobile-tab">
            <div class="card ">
              <div class="p-5">
                Download and install <strong>OpenVPN Connect</strong> for <a href="https://apps.apple.com/us/app/openvpn-connect/id590379981" target="_blank">iPhone / iPad</a> or for <a href="https://play.google.com/store/apps/details?id=net.openvpn.openvpn&gl=US" target="_blank">Android / ChromeOS</a>.<br />
                <br />
                Once installed, import the <strong><a href="/api/ovpnclient/download">EvonHub.ovpn</a></strong> file into the app and connect using your Evon Hub username/password.
                <br />
              </div>
            </div>
          </div>

          <div id="cli-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="cli-tab">
            <div class="card ">
              <div class="p-5">
                If you already have OpenVPN installed on your system, you can invoke it from the CLI directly.<br />
                <br />
                Download <strong><a href="/api/ovpnclient/download">EvonHub.ovpn</a></strong>, then enter the following command as a user with appropriate privileges:
                <pre class="border border-secondary mt-3">openvpn EvonHub.ovpn</pre>
                You'll be promoted for your Evon Hub username/password. To connect non-interactively, update your <strong>EvonHub.ovpn</strong> file, referring to the <strong>--auth-user-pass</strong> setting in the <a href="https://openvpn.net/community-resources/reference-manual-for-openvpn-2-4/" target="_blank">OpenVPN Reference Manual</a>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header">
      <h5 class="p-3 mb-2 bg-primary text-white">Listing Servers on the Hub</h5>
    </div>
    <div class="card-body">
      <div id="content-main" class="col-12">
        You can obtain a list of servers to which you're permitted to connect (subject to Policy defined by an admin) either via the <a href="/hub/server">Servers</a> menu option in this Web UI or via the <a href="/api/#tag/server" target="_blank">Evon Hub API</a>.<br/>
        {% if user.is_superuser  %}
        <br/>
        When listing servers via the API, superusers (like yourself) will obtain a list of <strong>all</strong> servers, whereas non-superusers will only see a list of servers that they're permitted to access via a Policy. As such, superuser API responses from the list server endpoint will include an `accessible` boolean property on each listed server object that indicates whether or not they're permitted connect to it based on Policy. See the <a href="/api/#tag/server" target="_blank">API Documentation</a> for further detail.<br/>
        {% endif %}
        <br/>
        Example scripts are provided below for listing your servers via the API. These examples include your <a href="/authtoken/tokenproxy/">Authentication Token</a> in clear text, therefore care should be taken to keep these scripts private if used as is.<br />
        <br />
        <ul class="nav nav-tabs" role="tablist" id="jazzy-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="bash-tab" aria-selected="true" href="#bash-tab">
              Bash
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="powershell-tab" aria-selected="false" href="#powershell-tab">
              PowerShell
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="python-tab" aria-selected="false" href="#python-tab">
              Python
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="bash-tab" class="tab-pane fade active show" role="tabpanel" aria-labelledby="bash-tab">
            <div class="card ">
              <div class="p-5">
                <hr>
                <h5>list_servers.sh</h5>
                Note that the <strong>curl</strong> and <strong>jq</strong> commands are required by the below script.
                <pre class="border border-secondary mt-3">
#!/bin/bash
url="https://{{ account_domain }}/api/server"
auth_token="{{ auth_token }}"
printf "%-17s %-6s %s\n" "IPv4" "State" "FQDN"
while [ "$url" != "null" ]; do
    response=$(curl -s "$url" -H "Authorization: Token $auth_token")
    echo "$response" | jq -r '.results[] | "\(.ipv4_address) \(if .connected then "up" else "down" end) \(.fqdn)"' | \
    while read -r ip state fqdn; do
        printf "%-17s %-6s %s\n" "$ip" "$state" "$fqdn"
    done
    url=$(echo "$response" | jq -r '.next')
done</pre>
                <hr>
                <h5>Example Usage:</h5>
                <pre class="border border-secondary mt-3">
$ chmod +x list_servers.sh
$ ./list_servers.sh
IPv4              State  FQDN
100.111.224.6     up     webserver.example.com.{{ account_domain }}
100.111.224.10    up     appserver.{{ account_domain }}
100.111.224.14    down   test.example.com.{{ account_domain }}
100.111.224.18    up     fileserver.{{ account_domain }}
$</pre>
              </div>
            </div>
          </div>
          <div id="powershell-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="powershell-tab">
            <div class="card ">
              <div class="p-5">
                <hr>
                <h5>list_servers.ps1</h5>
                <pre class="border border-secondary mt-3">
#!/usr/bin/pwsh
$url = "https://{{ account_domain }}/api/server"
$auth_token = "{{ auth_token }}"
Write-Host ("{0,-17} {1,-6} {2}" -f "IPv4", "State", "FQDN")
while ($url -ne $null) {
    $response = Invoke-RestMethod -Uri $url -Headers @{"Authorization" = "Token $auth_token"}
    foreach ($server in $response.results) {
        $state = if ($server.connected) {"up"} else {"down"}
        Write-Host ("{0,-17} {1,-6} {2}" -f $server.ipv4_address, $state, $server.fqdn)
        #write-host $server.ipv4_address `t $state `t $server.fqdn
    }
    $url = $response.next
}</pre>
                <hr>
                <h5>Example Usage:</h5>
                <pre class="border border-secondary mt-3">
PS C:\scripts> .\list_servers.ps1
IPv4             State   FQDN
100.111.224.6     up     webserver.example.com.{{ account_domain }}
100.111.224.10    up     appserver.{{ account_domain }}
100.111.224.14    down   test.example.com.{{ account_domain }}
100.111.224.18    up     fileserver.{{ account_domain }}
PS C:\scripts></pre>
              </div>
            </div>
          </div>
          <div id="python-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="python-tab">
            <div class="card ">
              <div class="p-5">
                <hr>
                <h5>list_servers.py</h5>
                  Note that the <strong>requests</strong> library is required by the below script. 
                <pre class="border border-secondary mt-3">
#!/usr/bin/env python
import requests
url="https://{{ account_domain }}/api/server"
auth_token="{{ auth_token }}"
print(f"{'IPv4 Address':&lt;17} {'State':&lt;6} {'FQDN'}")
while url:
    data = requests.get(url, headers={"Authorization": f"Token {auth_token}"}, timeout=10).json()
    for s in data['results']:
        state = "up" if s["connected"] else "down"
        print(f"{s['ipv4_address']:&lt;17} {state:&lt;6} {s['fqdn']}")
    url = data.get("next")</pre>
                <hr>
                <h5>Example Usage:</h5>
                <pre class="border border-secondary mt-3">
$ pip install --user requests
$ python list_servers.py
IPv4              State   FQDN
100.111.224.6     up     webserver.example.com.{{ account_domain }}
100.111.224.10    up     appserver.{{ account_domain }}
100.111.224.14    down   test.example.com.{{ account_domain }}
100.111.224.18    up     fileserver.{{ account_domain }}
$</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
