{% extends "rest_framework/base.html" %}

{% block branding %}
<span class="navbar-brand" style="color: white">Evon Hub API</span>
<span class="navbar-brand">
  <!-- <a style="color: lightblue" href="/">[site]</a> -->
  <a style="color: lightblue" target="_blank" href="/api/docs">[docs]</a>
  <!-- <a style="color: lightblue" href="/static/img/evon_models.png">[erd]</a> -->
</span>
<a class="navbar-brand" rel="nofollow" target="_blank" href="http://www.django-rest-framework.org">
  <span style="font-size: 70%">Django REST framework </span><span class="version">{{ version }}</span>
</a>
{% endblock %}
