[Unit]
Description=Evon Hub server
Requires=evonhub.socket
After=syslog.target

[Service]
WorkingDirectory=/opt/evon-hub
ExecStart=/opt/evon-hub/.env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/evon-gunicorn.sock \
          --user evonhub \
          eapi.wsgi
ExecStartPost=/usr/local/bin/evon --sync-servers
ExecReload=/usr/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=main
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

[Install]
WantedBy=multi-user.target
