[Unit]
Description=Sync all Evon-connected servers to reflect current connected state

[Service]
ExecStart=/opt/evon-hub/evon/hourly_job.sh
Type=oneshot
